{% extends 'index_base.html' %}

<!--头部-->
{% block content %}
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
	<div class="scd_top">
    	<span>新闻详情</span>
        <div class="pst">
        	当前位置：<a href="{{ url_for('index') }}">首页</a>-<a href="">新闻中心</a>
        </div>
    </div>
    <div class="scd_m clearfix">
    	<div class="scd_ml">
        	<h1>{{ detail.title }}</h1>
            <div class="time">
            	<span>2015-11-11</span>
                <span>来源：公司名称服务中心 更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a></span>
                <span>浏览次数  205</span>
                <div class="font">
                	<span>字体大小：</span>
                    <em class="on f_14">14px</em>
                    <em class="f_16">16px</em>
                    <em class="f_18">18px</em>
                </div>
            </div>
            <div class="ctn">
            	<div class="des">
                	<p>[摘要] {{ detail.content | truncate(25,True) }}</p>
                </div>
                <div class="ctn_m">
                    <br/>
                    <div style="text-align:center"><img src="data:;base64,{{ base64.b64encode(detail.image) }}" width="540" height="295" alt=""/></div>
                    <br/>
                    <p>{{ detail.content }}</p>
                </div>
            </div>
        </div>
        <div class="scd_mr">
        	<div class="box_h">
            	<span>热销项目</span>
                <a href="">更多</a>
            </div>
            <div class="box_m"><img src="/static/upload/pic4.jpg" alt=""/></div>
            <div class="space_hx">&nbsp;</div>
            <div class="box_h">
            	<span>宣传视频</span>
                <a href="">更多</a>
            </div>
            <div class="box_m">
            	<div class="videoRow-box">
                    <div class="rel">
                        <a href="javascript:;" class="videoImg">
                            <img src="/static/upload/pic5.jpg" alt=""/>
                            <span class="play-btn"><img src="/static/images/icon7.png"></span>
                        </a>
                        <video class="video videoPlay" controls>
                            <source src="/static/images/movie.ogg">
                        </video>
                        <!--<embed class="video videoPlay" id="player" src="http://player.youku.com/player.php/Type/Folder/Fid/26148725/Ob/1/sid/XMTM2MDQ4NzY3Mg==/v.swf" quality="high" align="middle"></embed>-->
                    </div>
                </div>
            </div>
            <div class="space_hx">&nbsp;</div>
            <div class="box_h">
            	<span>热点新闻</span>
                <a href="">更多</a>
            </div>
            <div class="box_m">
            	<ul>
                	<li><a href="">間安防領域的完美應用案例。卓越...</a></li>
                    <li><a href="">間安防領域的完美應用案例。卓越...</a></li>
                    <li><a href="">間安防領域的完美應用案例。卓越...</a></li>
                    <li><a href="">間安防領域的完美應用案例。卓越...</a></li>
                    <li><a href="">間安防領域的完美應用案例。卓越...</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}